<%= form_for(answer) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      < ul >
      <% answer.errors.full_messages.each do |message| %>
      <% end %>
      </ ul >
    </div>
  <%end%>  

  <div class="field">
    <%= f.label :average %>
    <%= f.text_field :average %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>